services:
  - type: web
    name: cliniflow-superadmin
    env: node
    region: oregon
    plan: starter
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_API_URL
        value: https://cliniflow-backend.onrender.com
        sync: false
